.gitignore

**/*.aux
**/*.log
**/*.toc
**/*.out
**/*.synctex.gz
**/*.gz

/.vscode
/MFK english
/MFK2
/specsem
/english
/Параллельные высокопроизводительные вычисления/Task1/
/Параллельные_высокопроизводительные_вычисления
/Спецкурс